<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lh.rapid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!--
        MD5: E0:B8:39:54:81:7E:8C:E2:51:67:F9:45:E6:19:BB:60
        MD5: e0b83954817e8ce25167f945e619bb60
        SHA1: CC:DE:0D:85:1D:4A:71:BF:9B:E3:53:F4:7F:37:4D:B3:72:DF:07:D7
        SHA1: ccde0d851d4a71bf9be353f47f374db372df07d7
        SHA256: E5:43:27:91:5F:BD:D7:34:71:7C:1D:30:84:7A:93:13:F1:17:BA:04:90:65:55:B3:94:62:CB:FD:00:79:05:BD -->

    <!-- 访问照相机-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!---->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!---->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name="com.lh.rapid.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label, android:theme">

        <!-- 主页面 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.login.LoginByCardActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.login.LoginByPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.forgetpassword.ForgetPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.myshare.MyShareActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.orderconfirm.OrderConfirmActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.orderdetail.OrderDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.orderlist.OrderListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.orderpay.OrderPayActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.productdetail.ProductDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.addressmanager.AddressManagerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.location.ChooseLocationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.productlist.ProductListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.addaddress.AddShippingAddressActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.aboutme.AboutMeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.servicecenter.ServiceCenterActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.userinfo.UserInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.h5.H5Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.coupon.CouponActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.recharge.RechargeActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!--百度地图定位SERVICE -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <!-- 百度地图AcessKey -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BnnQlvpOeKrQ8cUklty3CQzm30Mfa0ky"/>

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

    </application>

</manifest>